/*
-----Fuentes de letras-------------------
font-family: 'Chakra Petch', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Rubik Glitch', cursive;
font-family: 'Send Flowers', cursive;
*/


.holder {
  width: 960px;
  margin: 0px auto;

}


h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.2em;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
}

p{
  font-family: arial ;
}
